
<mat-card>
<form (submit)="onAddPost(postForm)" #postForm="ngForm">
  <mat-form-field>
    <input matInput
           type="text"
           name="title"
           ngModel
           required
           minlength="3"
           placeholder="Post Title"
           #title="ngModel">
           <mat-error *ngIf="title.invalid">Please enter post title.</mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <textarea matInput
                rows="6"
                name="content"
                placeholder="Post Content"
                ngModel
                required
                #content="ngModel"></textarea>
                <mat-error *ngIf="content.invalid">Please enter post content.</mat-error>
  </mat-form-field>
  <button mat-raised-button
          color="accent"
          type="submit">Save Post</button>
</form>
</mat-card>
