<mat-accordion multi="true" *ngIf="posts.length > 0">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
        {{ post.title }}
    </mat-expansion-panel-header>
        {{ post.content }}
        <mat-action-row>
          <button mat-button color="primary">EDIT</button>
          <button mat-button color="warn">DELETE</button>
        </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-tab mat-body-1" *ngIf="posts.length == 0">No posts added yet!</p>
